#top-navbar {
    background: rgba(0, 0, 0, 0.8);
    /* display: flex; */
    overflow: hidden;
    height: 40px;
    margin: 0 -25px;
    background-color: black;
  }
  
  #navbar-container{
    width: 100%;
    /* text-align: center; */
  
  }
  
  li {
      color: aliceblue;
      display: inline;
      text-align: center;
  }
 
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover{
    color: gray;
  }

  