<p>
  My name is Andrei Mosanu and I'm an artist  from Seattle, WA.
   Drawing and painting was my favorite entertainment as a child. I remember the excitement of watching architectural drawings of my father at about 5 years of age and later the fun of drawing my friends portraits and sometimes helping with the homework at the Art lesson in exchange for some help with my Math homework :)
  After High school I fallowed my calling and graduated as a teacher of Arts and Interior Design, at the Pedagogical University "Ion Creanga" in Chisinau, Moldova. 
   I'm inspired by the beauty of the North West and by regular people that surround me. The contrast of colors and confident shapes are representing my passion for life, positiveness, and in the same time meekness and thankfulness. 
</p>

<h3>
  I hope you enjoy my Art,</h3>
  <br>
  <h3>Andrei Mosanu</h3>
