<h1>Inspired by Nature</h1>

<div class="row">
  <div class="col-sm-6">
  <div *ngFor="let painting of paintings; let i = index" >
    <div *ngIf="i % 2 === 0">
        <h3><em>{{painting.title}}</em> by {{painting.artist}}</h3>
        <img class='nature-img' src={{painting.img}} alt="" (click)="goToDetailPage(painting)">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngFor="let painting of paintings; let i = index" (click)="goToDetailPage(painting)">
      <div *ngIf="i % 2 === 1">
        <h3><em>{{painting.title}}</em> by {{painting.artist}}</h3>
        <img class='nature-img' src={{painting.img}} alt="">
      </div>
    </div>
</div>
</div>
<!-- <div class="row"> 
    <img src="../../assets/natureImgs/nature1.JPG" style="width:100%">
    <img src="../../assets/natureImgs/nature2.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature6.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature4.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature10.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature11.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature12.webp" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/natureImgs/nature3.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature7.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature8.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature5.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature13.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature8.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature14.webp" style="width:100%">
  </div>  
  <div class="column">
    
    <img src="../../assets/natureImgs/nature9.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature14.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature15.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature16.webp" style="width:100%">
    <!-- <img src="../../assets/natureImgs/nature15.webp" style="width:100%"> -->
  <!-- </div>
  <div class="column">
    
    <img src="../../assets/natureImgs/nature17.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature10.webp" style="width:100%">
    <img src="../../assets/natureImgs/nature11.webp"style="width:100%">
    <img src="../../assets/natureImgs/nature9.webp" style="width:100%">
  </div>
</div> -->