
  /* .sidebar {
  
   width: 20%;
   height: 100%;
   display: inline-block;
   margin: 0;
   
  } */

  /* .outlet {
      width: 100%;
      text-align: center;
  } */

  @media(max-width: 800px){
    .outlet{
      width: 100%;
      float: none;
    } 

    /* .sidebar{
      height: 148px;
      
    } */

  }