h1 {
    font-family: 'Kalam', cursive;
    font-size: 30px;
}

.header {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 50%;
}

p {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
  }

  img {
      width: 440px;
      height: 280px;
  }